/* Material Design Palette */
:root {
    --bg-color: #121212; /* Dark background */
    --text-color: #ffffff; /* Light text */
    --card-bg-color: #1e1e1e; /* Card background */
    --overlay-color: rgb(0, 0, 0); /* Overlay color */
    --overlay-opacity: 0.5; /* Overlay opacity */
    --theme-switch-bg: #1e1e1e; /* Dark mode switch background */
    --theme-switch-text: #ffffff; /* Dark mode switch text */
    --theme-switch-hover-bg: #333333; /* Dark mode switch hover background */
    --button-bg: #121212; /* Dark mode button background */
    --button-text: #ffffff; /* Dark mode button text */
    --button-hover-bg: #333333; /* Dark mode button hover background */
    --scroll-message-bg: rgba(0, 0, 0, 0.7); /* Scroll message background */
    --scroll-message-text: #ffffff; /* Scroll message text */
}
[data-theme="light"] {
    --bg-color: #ffffff; /* Light background */
    --text-color: #000000; /* Dark text */
    --card-bg-color: #f0f0f0; /* Light card background */
    --overlay-color: rgb(255, 255, 255); /* Light overlay */
    --theme-switch-bg: #f0f0f0; /* Light mode switch background */
    --theme-switch-text: #000000; /* Light mode switch text */
    --theme-switch-hover-bg: #e0e0e0; /* Light mode switch hover background */
    --button-bg: #ffffff; /* Light mode button background */
    --button-text: #000000; /* Light mode button text */
    --button-hover-bg: #e0e0e0; /* Light mode button hover background */
    --scroll-message-bg: rgba(224, 224, 224, 0.7); /* Scroll message background */
    --scroll-message-text: #000000; /* Scroll message text */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}
p, a, strong {
    color: var(--text-color);
}
strong {
    font-size: 3.3rem; /* Phone size */
}
a {
    text-decoration: none;
    font-size: 2.2rem; /* Phone size */
}
p {
    font-size: 1.1rem; /* Phone size */
}
.card {
    background-color: var(--card-bg-color);
    width: 100%; /* Full width on small screens */
    margin: auto;
    overflow: hidden;
    position: relative;
    height: auto;
    border-radius: 16px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Material shadow */
}
.card-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure image covers the area */
    filter: brightness(var(--image-brightness));
    transition: filter 0.3s ease;
}
.card-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    opacity: var(--overlay-opacity);
    z-index: 1;
    pointer-events: none;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
/* Responsive Font Sizes */
@media (min-width: 768px) { /* Laptop */
    strong {
        font-size: 4.6rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        font-size: 3rem;
    }
}
@media (min-width: 1200px) { /* Desktop */
    strong {
        font-size: 6rem;
    }
    p {
        font-size: 2rem;
    }
    a {
        font-size: 4rem;
    }
}
/* Uniform spacing for icons */
.icon-spacing {
    margin-right: 1rem;
}
.icon-spacing:last-child {
    margin-right: 0;
}
/* Theme switch button styles */
.theme-switch {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.theme-switch:hover {
    background-color: var(--theme-switch-hover-bg); /* Use CSS variable for hover background */
}
/* Custom button styles */
.custom-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--button-bg); /* Use CSS variable for background */
    color: var(--button-text); /* Use CSS variable for text color */
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.custom-btn:hover {
    background-color: var(--button-hover-bg); /* Use CSS variable for hover background */
}

/* Scroll Message */

.scroll-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--scroll-message-bg);
    color: var(--scroll-message-text);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.scroll-message.fade-out {
    opacity: 0;
}